nav {
    display: flex;
    /* border: 1px blue solid; */
    justify-content: space-between;
    align-items: center;
}

nav>div {
    margin-left: 2rem;
}

#headerMenu {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    padding-left: 0;
}

#headerMenu li {
    list-style: none;
    padding: 1rem;
}

#headerMenu a {
    text-decoration: none;
    color: black;
}

#headerMenu li:hover {
    background-color: #FDE89A;
    cursor: pointer;
}

@media screen and (max-Width:576px) {
    nav {
        margin: 1rem 0;
    }
    #headerMenu {
        display: none;
    }
}